
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}

main, body {
    margin: 0px;
    padding: 0px;
}

/* body */

body {
    font-family: $fontFamily;
    font-weight: $regularWeight;
    font-size: 16px;
}


/* header */

div#headWrapper {
    background-color: black;
}



header h1 {
    color: $primaryColor;
    font-weight: $heavyWeight;
    font-size: 2rem;
    margin: 1px 0px 0px 0px;
    text-shadow: 2px 2px black;
}

header h2 {
    font-weight: $regularWeight;
    font-size: 1.5rem;
    margin: 0;
    display: block;
    color: white;
    text-shadow: 2px 2px black;
  
}

/* navigation */

nav {
    background-color: $subColor;
    margin-bottom: 0px;   
}

nav ul {
    margin: 0px; padding: 0px;
}

nav li {
    float: left;
    width: 25%;
    list-style-type: none;
    text-align: center;
    background-color: lighten($subColor, 20%);
    border-left: 2px solid $subColor;
    
}

nav li.active { 
    background-color: lighten($subColor, 40%);
    
}

nav a {
    font-size: 1rem;
    display: block;
    padding: .8rem 0;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav a.active {
    font-weight: $heavyWeight;
    color: darken($primaryColor, 25%);
}

nav a:hover {
    background-color: darken($subColor, 10%);

}

/* main */
main {
    
}

main h1 {
    color: darken($primaryColor, 25%);
    margin: 0 0 5px 0;
}

/* lawyers */

div.law {
    display: flex; 
    flex-wrap: wrap;
    margin: 1rem 2vw;
    
}

div.law div {
    width: 100%;
    
    
   
    
}

div.law div.box {
    border: 2px solid black;
    border-radius: 10px;

}

div.law div img {
    width: 100%;
    border-top: 2px solid black; 
    border-bottom: 2px solid black;   
}

div.law div p{
    text-align: center;
    
    
    
}




/* blog */

div.blog {
    display: flex; 
    flex-wrap: wrap;  
}

div.blog div img {
 
    width: 100%;
}

div.blog div p{
    color: red;
    text-align: center;
}


/* call to action */

div.action {
    display: flex; 
    flex-wrap: wrap; 
}

div.action div {
   padding: 0%;   
}

div.action div p{
    background-color: red;
    text-align: center;
  

 
}

/* faq */

div.faq {
    display: flex; 
    flex-wrap: wrap; 
}

div.faq div {
   padding: 0%;
   
}

div.faq div p{
    text-align: center;
    background-color: red;

    
}

@for $i from 1 through 12 {
    $w:($i / 12) * 100%;
    .small-#{$i} {flex-basis: $w;}	
} 



.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

div#footerWrapper {
    background-color: #2e1e0d;
}

footer {
    background-color: #2e1e0d;
    text-align: center;
    padding: 1rem $gutter; 
    color: white;
}




