
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}

main, body {
    margin: 0px;
    padding: 0px;
}

/* body */

body {
    font-family: $fontFamily;
    font-weight: $regularWeight;
    font-size: 16px;
}


/* header */

div#headerWrapper {
    background: linear-gradient(to top, rgb(79, 103, 134) , #002F6B 100%);

}



header h1 {
    color: white;
    font-weight: $heavyWeight;
    font-size: 1rem;
    padding: 2rem 0 0 0;
    margin: 0 0 0 2%;
}

header h2 {
    font-weight: $regularWeight;
    font-size: 1rem;
    padding: 5px 0 10px 0;
    margin: 0 0 0 2%;
    display: block;
    color: lighten($subColor, 40%);
  
}

/* navigation */

nav {
    background-color: $subColor;
    margin-bottom: 0px;   
}

nav ul {
    margin: 0px; padding: 0px;
}

nav li {
    float: left;
    width: 25%;
    list-style-type: none;
    text-align: center;
    background-color: lighten($subColor, 20%);
    border-left: 2px solid $subColor;
    
}

nav li.active { 
    background-color: lighten($subColor, 40%);
    
}

nav a {
    font-size: 1rem;
    display: block;
    padding: .8rem 0;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav a.active {
    font-weight: $heavyWeight;
    color: darken($primaryColor, 25%);
}

nav a:hover {
    background-color: darken($subColor, 10%);
    color: white;

}

/* main */


main h1 {
    color: $primaryColor;
    margin: 2%;
}

/* lawyers */

div.law {
    display: flex; 
    flex-wrap: wrap;
    margin: 1rem 2vw;
    
}

div.law div {
    width: 100%;
      
}

div.law div.box {
    border: 2px solid black;
}

div.law div img {
    width: 100%;
    border-top: 2px solid black; 
    border-bottom: 2px solid black;   
}

div.law div p{
    text-align: center;
    
    
    
}




/* blog */

div.blog {
    display: flex; 
    flex-wrap: wrap; 
   
}

div.blog div {
    border: 2px solid black; 

}

div.blog div img {
     width: 100%;
}

div.blog div h3 {
    text-align: center;
    margin: 5px 0 5px 0;
}

div.blog div h4 {
    text-align: center;
    background-color: rgb(79, 103, 134);
    margin: 8px 0 0 0;
    padding: 10px 0;
    color: white;

}

div.blog div p{
    text-align: left;
    margin: 0 15px 0 15px;
}


/* call to action */

div.action {
    display: flex; 
    flex-wrap: wrap; 
}

div.action div {
   padding: 0%;   
}

div.action div p{
    background: linear-gradient(to top, rgb(79, 103, 134) , #002F6B 100%);
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 15px;
    color: white;
    font-weight: $heavyWeight;
  

 
}

/* faq */

div.faq {
    display: flex; 
    flex-wrap: wrap; 
    margin-bottom: 2rem;
    margin-top: 2rem;
}

div.faq div {
   padding: 0%;
   background-color: lighten($subColor, 10%);
   border-radius: 10px;
   border: 2px solid black;
   
}

div.faq div p{
    text-align: left;
    margin: 15px;
}
div.faq div h3{
    text-align: left;
    margin: 15px;
    font-size: 1.7rem;
}

@for $i from 1 through 12 {
    $w:($i / 12) * 100%;
    .small-#{$i} {flex-basis: $w;}	
} 



.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

div#footerWrapper {
    background-color: #2e1e0d;
}

footer {
    background: linear-gradient(to bottom, rgb(79, 103, 134) , #002F6B 100%);
    text-align: center;
    padding: 1rem $gutter; 
    color: white;
}




