
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}

main, body {
    margin: 0px;
    padding: 0px;
}

/* body */

body {
    font-family: $fontFamily;
    font-weight: $regularWeight;
    font-size: 16px;
}


/* header */

div#headerWrapper {
    background: linear-gradient(to top, rgb(79, 103, 134) , #002F6B 100%);

}



header h1 {
    color: white;
    font-weight: $heavyWeight;
    font-size: 1.8rem;
    padding: 2rem 0 0 0;
    margin: 0 0 0 2%;
}

header h2 {
    font-weight: $regularWeight;
    font-size: 1.1rem;
    padding: 5px 0 10px 0;
    margin: 0 0 0 2%;
    display: block;
    color: lighten($subColor, 40%);
  
}

header p.search {
    float: right;
    color: grey;
    margin: 0px;
    margin-bottom: 15px;
    margin-right: 2%;
    padding: 5px 50px 5px 5px;
    border: 1px solid $subColor;
    border-radius: 10px;
    background-color: white;
    
}


header div.head {
    display: flex;
    justify-content: space-between;
}

/* navigation */


nav button {
    margin: .2rem $gutter;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: $primaryColor;
}

nav {
    background-color: lighten($subColor, 10%);

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a{
    display: block;
    padding: .8rem $gutter;
    text-decoration: none;
    color: black;
    background-color: lighten($subColor, 20%);
    border-top: 1px solid rgba(0,0,0,0.3);

}

nav ul li.active a { 
    font-weight: $heavyWeight;
    color: black;
    background-color: lighten($subColor, 40%)
    
}

nav ul li a:hover {
    background-color: darken($subColor, 10%);
    color: white;
}

nav ul.hide {
    display: none;
}



/* main */


main h1 {
    color: $primaryColor;
    margin: 2%;
}

/* lawyers */

div.law {
    display: flex; 
    flex-wrap: wrap;
    margin: 1rem 2vw;
    
}

div.law div {
    width: 100%;
      
}

div.law div.box {
    border: 2px solid black;
}

div.law div img {
    width: 100%;
    border-top: 2px solid black; 
    border-bottom: 2px solid black;   
}

div.law div p{
    color: $primaryColor;
    font-weight: $heavyWeight;
    text-align: center;
  
}

div.law div h5{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(79, 103, 134);
    margin: 0px;
    padding: 1rem;
    
    
    
}




/* blog */

div.blog {
    display: flex; 
    flex-wrap: wrap; 
   
}

div.blog div {
    border: 2px solid black; 

}

div.blog div img {
     width: 100%;
}

div.blog div h3 {
    text-align: center;
    margin: 5px 0 5px 0;
}

div.blog div h4 {
    text-align: center;
    background-color: rgb(79, 103, 134);
    margin: 8px 0 0 0;
    padding: 10px 0;
    color: white;

}

div.blog div p{
    text-align: left;
    margin: 0 15px 0 15px;
}


/* call to action */

div.action {
    display: flex; 
    flex-wrap: wrap; 
}

div.action div {
   padding: 0%;   
}

div.action div p{
    background: linear-gradient(to top, rgb(79, 103, 134) , #002F6B 100%);
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 15px;
    color: white;
    font-weight: $heavyWeight;
  

 
}

/* faq */

div.faq {
    display: flex; 
    flex-wrap: wrap; 
    margin-bottom: 2rem;
    margin-top: 2rem;
}

div.faq div {
   padding: 0%;
   background-color: lighten($subColor, 10%);
   border-radius: 10px;
   border: 2px solid black;
   
}

div.faq div p{
    text-align: left;
    margin: 15px;
}
div.faq div h3{
    text-align: left;
    margin: 15px;
    font-size: 1.7rem;
}


/* icon */

div.icon {
    display: flex; 
    flex-wrap: wrap; 
    margin-bottom: 1rem;
    margin-top: 1rem;
}







.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

div#footerWrapper {
    background-color: #2e1e0d;
}

footer {
    background: linear-gradient(to bottom, rgb(79, 103, 134) , #002F6B 100%);
    text-align: center;
    padding: 1rem $gutter; 
    color: white;
}

@for $i from 1 through 12 {
    $w:($i / 12) * 100%;
    .small-#{$i} {flex-basis: $w;}	
} 




